<ng-template #modal>
    <div class="modal-header modal-colored-header bg-info">
        <h4 class="modal-title text-center text-white">Chi tiết đơn hàng #{{orderId}}</h4>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modalRef.close()">
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h4><strong>Thông tin khách hàng</strong></h4>
                <ul class="list-unstyled">
                    <li><strong>Họ tên:</strong> {{customer.hoTen}}</li>
                    <li><strong>Email:</strong> {{customer.email}}</li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-6 text-right">
                <h4><strong>Thông tin đơn hàng</strong></h4>
                <ul class="list-unstyled">
                    <li><strong>Mã đơn:</strong> #{{order.donHangId}}</li>
                    <li>
                        <strong>Trạng thái:</strong>
                        <span class="badge text-bg-{{getClassByStatusId(orderDetail.trangThaiId)}} d-inline">{{getNameByStatusId(order.trangThaiId)}}</span>
                    </li>
                    <li><strong>Ngày tạo:</strong> {{order.ngayTao | date: 'dd/MM/yyyy HH:mm a'}}</li>
                    <li><strong>Số điện thoại người gửi:</strong> {{order.soDienThoaiNguoiGui}}</li>
                    <li><strong>Số điện thoại người nhận:</strong> {{order.soDienThoaiNguoiNhanz}}</li>
                    <li><strong>Địa chỉ lấy hàng:</strong> {{order.diaChiNhanHang}}</li>
                    <li><strong>Địa chỉ giao hàng:</strong> {{order.diaChiGiaoHang}}</li>
                    <li><strong>Tiền vận chuyển:</strong> {{order.tienVanChuyen | currency}}</li>
                    <li *ngIf="order.trangThaiId >= 5"><strong>Lý do hoàn hàng:</strong> {{reason[0].lyDo}}</li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="order.trangThaiId >= 3">
            <div class="col-md-6 col-sm-6 text-left">
                <h4><strong>Thông tin người giao hàng</strong></h4>
                <ul class="list-unstyled">
                    <li><strong>Họ tên:</strong> {{shipper.hoTen}}</li>
                    <li><strong>Email:</strong> {{shipper.email}}</li>
                    <li><strong>Thời gian lấy hàng:</strong> {{order.thoiGianLayHang | date: 'dd/MM/yyyy HH:mm a'}}</li>
                    <li><strong>Thời gian nhận hàng:</strong> {{order.thoiGianNhanHang | date: 'dd/MM/yyyy HH:mm a'}}</li>
                </ul>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-condensed nomargin">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên hàng</th>
                        <th>Khối lượng</th>
                        <th>Tiền thu hộ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderDetail">
                        <td>
                            <div><strong>{{item.tenHangHoa}}</strong></div>
                        </td>
                        <td>
                            <div><strong>{{item.khoiLuong}}</strong></div>
                        </td>
                        <td>    
                            <div><strong>{{item.tienThuHoCod | currency}}</strong></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.close()">
            Đóng
        </button>
    </div>
</ng-template>