<ng-template #modal>
    <div class="modal-header modal-colored-header bg-warning">
      <h4 class="modal-title text-center text-white">Thanh toán phí đơn hàng #{{orderId}}: <span>{{fee | customcurrency }}</span></h4>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modalRef.close()">
      </button>
    </div>
    <div class="modal-body">Sau khi thanh toán, vui lòng chờ admin xác nhận!</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef.close()">
        Đóng
      </button>
      <button type="button" class="btn btn-danger" (click)="confirm()">
        Xác nhận
      </button>
    </div>
</ng-template>