<ng-template #modal>
    <div class="modal-header modal-colored-header bg-danger">
      <h4 class="modal-title text-center text-white">Xóa người giao hàng #{{shipperId}}</h4>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modalRef.close()">
      </button>
    </div>
    <div class="modal-body">Bạn có chắc chắn muốn xóa người giao hàng?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef.close()">
        Đóng
      </button>
      <button type="button" class="btn bg-warning-subtle text-danger" (click)="confirm()">
        Xác nhận
      </button>
    </div>
</ng-template>
