<ng-template #modal>
    <div class="modal-header modal-colored-header bg-info">
        <h5 class="modal-title text-center text-white">Đổi mật khẩu</h5>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modalRef.close()">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changepassModel" (ngSubmit)="onSubmit()">
            <!-- Old Password Field -->
            <div class="form-group" 
                [ngClass]="{'has-danger': changepassModel.get('oldPassword').invalid && changepassModel.get('oldPassword').touched}">
                <div class="row">
                    <label class="col-sm-3 control-label">Mật khẩu cũ</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
                        <div *ngIf="changepassModel.get('oldPassword').invalid && changepassModel.get('oldPassword').touched"
                            class="form-control-feedback">
                            <span *ngIf="changepassModel.get('oldPassword').errors?.required">Vui lòng nhập mật khẩu cũ.</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- New Password Field -->
            <div class="form-group mt-1" 
                [ngClass]="{'has-danger': changepassModel.get('newPassword').invalid && changepassModel.get('newPassword').touched}">
                <div class="row">
                    <label class="col-sm-3 control-label">Mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                        <div *ngIf="changepassModel.get('newPassword').invalid && changepassModel.get('newPassword').touched"
                            class="form-control-feedback">
                            <span *ngIf="changepassModel.get('newPassword').errors?.required">Vui lòng nhập mật khẩu mới.</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Confirm Password Field -->
            <div class="form-group mt-1" 
                [ngClass]="{'has-danger': changepassModel.get('confirmPassword').invalid && changepassModel.get('confirmPassword').touched}">
                <div class="row">
                    <label class="col-sm-3 control-label">Xác nhận mật khẩu</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                        <div *ngIf="changepassModel.get('confirmPassword').invalid && changepassModel.get('confirmPassword').touched"
                            class="form-control-feedback">
                            <span *ngIf="changepassModel.get('confirmPassword').errors?.required">Vui lòng xác nhận mật khẩu.</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.close()">
            Đóng
        </button>
        <button type="button" class="btn btn-info" (click)="confirm()">
            Xác nhận
        </button>
    </div>
</ng-template>