.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close:hover {
    color: #000;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0
}

a.close.disabled {
    pointer-events: none
}

.container-xxl {
    padding-bottom: 10px !important;
}

.container-fluid .card-table {
    min-height: calc(100vh - 8rem) !important; 
    margin-bottom: 10px;
}

.pagination {
    float: inline-end;
    margin-right: 1.5rem;
}

.sticky-top {
    z-index: inherit;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}